<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MCIL - Header</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark no-select" style="background: #121212">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
            <a href="/">
                <img th:src="@{images/company_logo.png}" alt="brand-logo" class="nav-brand-logo"
                     ondragstart="return false;">
            </a>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link">Log in (soon maybe)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>