<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MCIL - Add new workplace fragment</title>
</head>
<body>
<div th:fragment="add-new-workplace-frag">
    <div class="cd-popup contact" role="alert">
        <form name="contactForm" id="contact-form" class="contact-form">
            <div class="cd-popup-container py-3">
                <a href="" class="cd-popup-close cd-close-button">
                    <i class="fa fa-times" style="pointer-events:none;"></i>
                </a>

                <div class="new-workplace text-dark pt-2">
                    <h3 class="text-center fw-light">Link preview</h3>
                </div>
                <div class="pt-2 text-center text-dark m-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto corporis culpa
                    exercitationem fuga illum ipsa, officiis rem tempore. Amet beatae omnis pariatur sapiente. Culpa
                    deleniti dicta dolores ex fugiat incidunt labore laudantium magnam magni maxime minima minus
                    molestiae mollitia nulla obcaecati perspiciatis, quasi quos similique unde vel. Obcaecati, omnis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae commodi cumque delectus
                    deleniti dolorum eos eum facere laboriosam maxime minima mollitia necessitatibus nesciunt nobis
                    optio perspiciatis quia reiciendis reprehenderit sunt veritatis voluptates, voluptatibus! Architecto
                    doloribus et excepturi facilis fugit ipsa nemo numquam, officia placeat quod sequi tenetur, unde?
                </div>
            </div>
        </form>
    </div>

    <div class="cd-popup notification" role="alert">
        <div class="cd-popup-container">
            <a href="" class="cd-popup-close cd-close-button">
                <i class="fa fa-times" style="pointer-events:none;"></i>
            </a>
            <p>
            <h3 id="notification-text">Thanks for getting in touch!</h3>
            </p>
        </div>
    </div>
</div>
</body>
</html>