<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MCIL - Add new workplace fragment</title>
</head>
<body>
<div th:fragment="add-new-workplace-frag">
    <div class="cd-popup contact text-dark" role="alert">
        <div class="cd-popup-container py-3">
            <a href="" class="cd-popup-close cd-close-button">
                <i class="fa fa-times" style="pointer-events:none;"></i>
            </a>
            <div id="loading"></div>
            <div id="link-info">
                <div class="new-workplace pt-2">
                    <h3 class="text-center fw-light" id="link-title"></h3>
                </div>
                <div class="row pt-2 m-3">
                    <div class="col-md-4 col-sm-12">
                        <img src="" alt="link-img" id="link-img" style="max-width: 120px; height: auto">
                    </div>
                    <div class="col-md-8 col-sm-12 pt-2 text-cente" id="link-description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="" class="link-dark" id="link-url" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>