/*noinspection CssUnknownTarget*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    background: #121212;
}

.nav-brand-logo {
    height: 60px;
    width: 60px;
}

@media (max-width: 992px) {
    .nav-brand-logo {
        display: none;
    }
}

#navbarSupportedContent * {
    cursor: default !important;
}

#section-query > div {
    background: #1A1A1A;
    border-radius: 24px;
}

#section-frames > div {
    background: #1A1A1A;
    border-radius: 24px;
}

#section-add-person > div {
    background: #1A1A1A;
    border-radius: 24px;
}

#section-edit-person {
    border-radius: 24px;
    background: #1A1A1A;
    padding: 0 1% 0 1%;
}

#section-edit-person > div {
    border-radius: 24px;
    padding: 0 1% 0 1%;
}

#edit-page-basic-info {
    background: #242424;
    border-radius: 24px;
}


textarea {
    height: 24px;
}

#pfp {
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
}

.form-control-input-custom {
    background: #1A1A1A !important;
    border-color: #acacac !important;
    color: #FBFBFB !important;
    transition: border-color 150ms ease-out;
}

.form-control-input-custom:focus {
    border-color: #131313 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(126, 239, 104, 0.6) !important;
    outline: 0 none !important;
    transition: border-color, box-shadow 200ms linear;
}

.landing-person-entry {
    background: #1A1A1A;
    border-radius: 24px;
    font-size: 22px;
}

