.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    background: #121212;
}

.nav-brand-logo {
    height: 60px;
    width: 60px;
}

@media (max-width: 992px) {
    .nav-brand-logo {
        display: none;
    }
}

#navbarSupportedContent * {
    cursor: default !important;
}

#section-query > div {
    background: #1A1A1A;
    border-radius: 24px;
}

#section-frames > div {
    background: #1A1A1A;
    border-radius: 24px;
}

#section-add-person > div {
    background: #1A1A1A;
    border-radius: 24px;
}

@media (max-width: 978px) {
}

textarea {
    height: 24px;
}
